<div id="kb-help" class="kb-help" hidden>
  <div class="kb-box" role="dialog" aria-modal="true" aria-label="Key bindings">
    <div class="manhead"><span>KEYS(1)</span><span></span><span>KEYS(1)</span></div>
    <h2 class="sec">KEY BINDINGS</h2>
    <div class="ind">
      <div class="opt"><b>j / k</b><span>select next / previous entry</span></div>
      <div class="opt"><b>Enter</b><span>open selection</span></div>
      <div class="opt"><b>g / G</b><span>go to top / bottom</span></div>
      <div class="opt"><b>/</b><span>search the manual</span></div>
      <div class="opt"><b>t</b><span>toggle light / dark pager</span></div>
      <div class="opt"><b>q</b><span>quit to mudler(1)</span></div>
      <div class="opt"><b>?</b><span>toggle this help</span></div>
    </div>
  </div>
</div>
